Repository ReentryGame/DefaultChecklists, changes with the labels that .github/labeler.yml gives for each.
All labels: Mercury, Gemini, Apollo-CommandModule, Apollo-LunarModule, Documentation

.github/labeler.yml:

Mercury:
  - Mercury/*
  - Mercury/**
Gemini:
  - Gemini/*
  - Gemini/**
Apollo-CommandModule:
  - CommandModule/*
  - CommandModule/**
Apollo-LunarModule:
  - LunarModule/*
  - LunarModule/**

Documentation:
  - ./*.md
  - ./schema.json

Update activationEPS
  LunarModule/ActivationEPS/checklist.json
Labels: Apollo-LunarModule

Fix typo
  LunarModule/ActivationCommunication/checklist.json
Labels: Apollo-LunarModule

Fix ReentryGame/ReentryBugsAndWiki#117
  Mercury/EmerOrbit/checklist.json
Labels: Mercury

Removing old checklists, replaced by other checklists.
  CommandModule/PreLaunchPreFlight/checklist.json
  CommandModule/SystemCabinSuitPSICheck/checklist.json
  CommandModule/SystemCnWsOps/checklist.json
  CommandModule/SystemECSMon/checklist.json
  CommandModule/SystemEPSMon/checklist.json
  CommandModule/SystemFuelCellPurgeCheck/checklist.json
  CommandModule/SystemSMRCSMon/checklist.json
  CommandModule/SystemSPSMon/checklist.json
  CommandModule/SystemWaterGlycolCheck/checklist.json
  Mercury/EmerOrbit/checklist.json
Labels: Mercury, Apollo-CommandModule

Update Comm.
  LunarModule/ActivationCommunication/checklist.json
Labels: Apollo-LunarModule

Fix a typo in P63 LM checklist.json
  LunarModule/PoweredDescentP63BreakingPhase/checklist.json
Labels: Apollo-LunarModule
