Repository ReentryGame/DefaultChecklists, pull requests merged in 2021-12, with the labels that each got.

#30 Fix typo: min->mon
  LunarModule/ActivationAPSDPSPrepressurization/checklist.json
Labels: Apollo-LunarModule

#17 Typo Concatinated -> Concatenated
  CommandModule/TLITransLunarInjection/checklist.json
Labels: Apollo-CommandModule

#23 Fix typo to account for keyboards lacking a shit key
  Mercury/EmergencyAscent/checklist.json
Labels: Mercury

#32 attitue -> attitude
  LunarModule/LunarAscentLMDocking/checklist.json
Labels: Apollo-LunarModule

#34 LM DPS pressurization: Add Descent He REG Switches 1 & 2
  LunarModule/ActivationDPSPressurization/checklist.json
Labels: Apollo-LunarModule

#21 LM cl make instruction and switch-conf match
  LunarModule/LunarAscentP12/checklist.json
Labels: Apollo-LunarModule

#29 LOI V2
  CommandModule/SPSBurnAndLOI/checklist.json
  CommandModule/TnDPostDocking/checklist.json
Labels: Apollo-CommandModule

#35 Papymaj5 mercury updates
  Mercury/AscentAscent/checklist.json
  Mercury/AscentBECO/checklist.json
  Mercury/AscentRedstone/checklist.json
  Mercury/AscentSECO/checklist.json
  Mercury/EmerLanding/checklist.json
  Mercury/EmerOrbit/checklist.json
  Mercury/EmerRetrograde/checklist.json
  Mercury/EmergencyAscent/checklist.json
  Mercury/EntryLanding/checklist.json
  Mercury/EntryPreRetro/checklist.json
  Mercury/EntryReentry/checklist.json
  Mercury/EntryRetro/checklist.json
  Mercury/FlightModeRateCmd/checklist.json
  Mercury/FlightModesFBW/checklist.json
  Mercury/FlightModesManual/checklist.json
  Mercury/OrbitOrbit/checklist.json
  Mercury/PrepAbbreviatedPreFlight/checklist.json
  Mercury/PrepAbortCapability/checklist.json
  Mercury/PrepFinalChecks/checklist.json
  Mercury/PrepFullInternalPower/checklist.json
  Mercury/PrepPreFlight/checklist.json
  Mercury/SystemGyroAlign/checklist.json
  Mercury/SystemsPreDark/checklist.json
  Mercury/SystemsPreDay/checklist.json
Labels: Mercury

#36 Fix #13 are->area
  LunarModule/LRV_PreSortie/checklist.json
Labels: Apollo-LunarModule
