Repository ReentryGame/DefaultChecklists, pull requests merged in 2022-01, with the labels that each got.

#44 Added IMU align to activation checks
  CommandModule/ActivationActivation/checklist.json
Labels: Apollo-CommandModule

#39 QOL Updates to Retro and Reentry procedures.
  Mercury/AscentAscent/checklist.json
  Mercury/AscentBECO/checklist.json
  Mercury/AscentRedstone/checklist.json
  Mercury/AscentSECO/checklist.json
  Mercury/EmerLanding/checklist.json
  Mercury/EmerOrbit/checklist.json
  Mercury/EmerRetrograde/checklist.json
  Mercury/EmergencyAscent/checklist.json
  Mercury/EntryLanding/checklist.json
  Mercury/EntryPreRetro/checklist.json
  Mercury/EntryReentry/checklist.json
  Mercury/EntryRetro/checklist.json
  Mercury/FlightModeNormal/checklist.json
  Mercury/FlightModeRateCmd/checklist.json
  Mercury/FlightModesFBW/checklist.json
  Mercury/FlightModesManual/checklist.json
  Mercury/OrbitOrbit/checklist.json
  Mercury/PrepAbbreviatedPreFlight/checklist.json
  Mercury/PrepAbortCapability/checklist.json
  Mercury/PrepFinalChecks/checklist.json
  Mercury/PrepFullInternalPower/checklist.json
  Mercury/PrepPreFlight/checklist.json
  Mercury/SystemGyroAlign/checklist.json
  Mercury/SystemsPreDark/checklist.json
  Mercury/SystemsPreDay/checklist.json
Labels: Mercury

#40 Gemini Checklist Improvements
  Gemini/AgenaAgenaCommands/checklist.json
  Gemini/AscentAscent/checklist.json
  Gemini/EVADepressEgress/checklist.json
  Gemini/EVAPostEVA/checklist.json
  Gemini/EVAPreEVA/checklist.json
  Gemini/EmergencyAbortModeI/checklist.json
  Gemini/EmergencyAbortModeII/checklist.json
  Gemini/EmergencyAbortModeIII/checklist.json
  Gemini/EmergencyAbortModeI_II/checklist.json
  Gemini/EntryEntry/checklist.json
  Gemini/EntryPostRetroJettison/checklist.json
  Gemini/EntryPreRetro/checklist.json
  Gemini/EntryTr1Min/checklist.json
  Gemini/EntryTr256Sec/checklist.json
  Gemini/FlightModesManualPulse/checklist.json
  Gemini/FlightModesRateCmd/checklist.json
  Gemini/InsertionEnableOAMS/checklist.json
  Gemini/InsertionInsertion/checklist.json
  Gemini/LandingLanding/checklist.json
  Gemini/LandingPostLanding/checklist.json
  Gemini/OBCCoreList/checklist.json
  Gemini/OrbitingBEF/checklist.json
  Gemini/OrbitingCircOrbit/checklist.json
  Gemini/OrbitingOrbiting/checklist.json
  Gemini/OrbitingPlatformAlign/checklist.json
  Gemini/OrbitingPowerDown/checklist.json
  Gemini/OrbitingPowerUp/checklist.json
  Gemini/OrbitingSEF/checklist.json
  Gemini/PreFlightAbortSquibTest/checklist.json
  Gemini/PreFlightBatteryCheck/checklist.json
  Gemini/PreFlightFuelCellCheck/checklist.json
  Gemini/PreFlightFullInternalPower/checklist.json
  Gemini/PreFlightInteriorInspection/checklist.json
  Gemini/PreFlightPreFlight/checklist.json
  Gemini/RadioSetHF/checklist.json
  Gemini/RnDDocking/checklist.json
  Gemini/RnDEnableRCS/checklist.json
  Gemini/RnDPostDocking/checklist.json
  Gemini/RnDRendezvous/checklist.json
  Gemini/RnDUndocking/checklist.json
Labels: Gemini
